body {
  background: gray;
}
body .div-cha {
  background-color: white;
  width: 300px;
  margin: auto;
  border-radius: 5px;
  border: 5px solid white;
  border-left-width: 0px;
  border-right-width: 0px;}
.div-cha img {
  width: 100%;
}
a {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  color: black;
}
p {
  font-family: Arial;
  font-size: 12px;
  color: gray;
}
.desc {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
.author-and-date-publish {
  padding-left: 20px;

}
.author-and-date-publish p {
margin-top: 5px;
}
.header {
    display: flex;
  margin-top: 15px;
  margin-left: 15px;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: red;
  width: 40px;
  height: 40px;
  text-align: center;
}
.avatar p {
  font-weight: bold;
  font-size: 15px;
  color: white;
}
.icon{
  display:flex;
  color: #747474;
  padding-left: 15px;
  padding-top: 15px;
  justify-content: space-between;
}
.icon .fa-solid.fa-share-nodes{
  padding-left: 11px;
}
.icon .fa-solid.fa-angle-down{
  margin-right: 15px;
  font-size: small;
}
.header .fa-solid.fa-ellipsis-vertical{
  margin-left: auto;
  margin-right: 18px;
  align-items: center;
  display: flex;
  color: #747474;
}